/* code adjust */
blognewcode {
  	font-size: 16px;
	font-family: Consolas,"Liberation Mono",Courier,monospace;
	color: #6D180B;
	background-color: #F2F2F2;
	border: 1px solid #CCC;
	border-radius: 4px;
	text-shadow: none;
	white-space: nowrap;
	padding: 1px 3px 0;
}

/* table css */
.TFtable{
  	border: 1px solid gray;
	border-spacing: 10;
	border-collapse: collapse;
	margin-top: 0.8em;
}
.TFtable tbody{
	border: inherit;
	display: table-row-group;
	vertical-align: middle;
}
.TFtable td{
	border: inherit;
	padding: .25em .5em;
}
.TFtable th{
	border: inherit;
	background-color: #dae5f4;
	color: black;
  	text-align: center;
	font-weight: bold;
	padding: .25em .5em;
}
.TFtable tr{
	border: inherit;
	background: white;
}

/* override manually all css from here */
a.read-more-link {
 	font-family: Open-sans;
  	text-decoration: none;
}